body{
    margin: 0px;	
    padding: 0;
    color: white;
}
h1{
    letter-spacing: 0.1em;
    font-family: $title-font;
    font-size: 3em;
}
p,h3{
    font-family: $p-font;
    font-weight: 200;
    font-size: 1em;
}
div{
    //margin-bottom: -10px; ---for apple mobile devs. 
}