$text-colour: #515052;
$cta-colour: #e71d36;
$other: #083d77;
$gold: #ffa500;
$p-font: Raleway,
sans-serif;
$title-font: Amatic SC,
cursive;
////////////////
// Animations //
////////////////
$backwards: cubic-bezier(.68, -0.55, .27, 1.55);
$bs: 0px 14px 30px -11px #000;