:root{
--red: #984b43;
--yellow: #eac67a;
--blue: #17121e;
--grey: #233237;
}

body{
	margin: 0;	
	padding: 0;
	background-color: var(--yellow);
	color: var(--blue);
}
body.noscroll{
	overflow: hidden;
}
h1{
	margin: inherit;
	font-size: 9.5vw;
}
a{
	text-decoration: none;
	color: inherit;
}
@media only screen and (min-width: 330px){
	h1{
		font-size: 2em;
	}
}
.site{
	height: 100%;
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows: minmax(35px,auto);
	grid-template-areas:
		"a a"
		"b b"
		"c c"
		"d d"
		"e e"
	;
}
.site div{
	padding: 0 10px 0 10px;
}
.header{
	grid-area:a;
	align-items: center;
	display: grid;
	box-sizing: border-box;
	height: 60px;
	background-color: white;
	color: var(--grey);

}
.strapline{
	grid-area:c;
}
.main-content{
	grid-area:d;
}
.CTA{
	background-color: var(--red);
	color: var(--blue);
	padding: 20px;
	border-radius: 20px;
	font-weight: bolder;
	font-size: 1.3em;
}
.CTA:hover{
	background-color: var(--grey);
	color: #eac67a;
}
.footer{
	grid-area:e;
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:;
	grid-template-areas:
		"C C"
		"B A"
		"D D"
	;
}
.col1{
	grid-area:B;
}
.col2{
	grid-area:A;
	margin: 0px;
}
.social{
	grid-area:C;
	margin: auto;
}
.social li{
/*	transition: 0.3s;
*/	border-radius: 5px;
	height: 50px;
	width: 50px;
	background-color: var(--blue);
	color: white;
	margin: 2px 10px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.social li a{
	position: absolute;
	width: 100%;
	height: 100%;
}
.social li a i:first-child{
	transition: 0.3s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.social li a i:last-child{
	transition: 0.3s;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.social li:hover a i{
	transition: 0.3s;
}
.social li:hover a i:first-child{
	top: -100%;
}
.social li:hover a i:last-child{
	top:50%;
}
.social .facebook:hover{
	background-color: #3B5998;
	transition: 0.3s;
}
.social .linkedin:hover{
	background-color: #0077b5;
	transition: 0.3s;
}
.social .insta:hover{
	background-color: #fd1f1f;
	transition: 0.3s;
}
.social .email:hover{
	background-color: #9900cc;
	transition: 0.3s;
}
.foot{
	text-align: center;
	grid-area:D;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 768px){
	.nav{
		height: 0px;
		position: fixed;
		background-color: var(--blue);
		width: 0%;
		right: 25px;
		top: 25px;
		visibility: hidden;
		border-radius: 60%;
		border-top-right-radius: 0%;
		transition: 0.8s;
		z-index: 1;
	}
	.nav.visible{
		height: 100%;
		z-index: 1;
		width: 100%;
		right: 0px;	
		top: 0px;
		visibility: visible;
		border-radius: 0%;
	}
	.nav ul{
		opacity: 0;
		transition: 0.5s;
	}
	.nav.visible ul{
		opacity: 1;
		transition: 2.2s;
	}
	.nav ul li{
		padding: 10px;
		text-align: center;
		font-size: 20px;
		color: #eac67a;
		width: 75%;
		border-bottom: 5px solid var(--grey);
		margin: auto;
	}
	.nav ul li:nth-last-child(1){
		border-bottom: none;
	}
	.nav ul li:nth-child(1){
		padding-top:75px;
	}
	.nav ul li a:hover{
		color:var(--red);
	}
	.site .burgerBox{
		height: 40px;
		width: 40px;
		position: fixed;
		cursor: pointer;
		right: 10px;
		top: 10px;
		border-radius: 50%;
		background-color: white;
		z-index: 10;
		padding: 0px;
	}
	.burgerBox span, .burgerBox span:before, .burgerBox span:after{
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: black;
	}
	.burgerBox span{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 1.5s;
	}
	.burgerBox.open span:before{
		transition: 0.75s;
		transform: rotate(45deg);
		top: 1px;
	}
	.burgerBox.open span:after{
		transform: rotate(-45deg);
		top: -1px;	
		transition: 0.75s;
	}
	.burgerBox.open span{
		background-color: white;
		transition: 0.01s
	}
	.burgerBox span:before{
		content: '';
		top: -6px;
		transform: rotate(540deg);
		transition: 0.25s;
	}
	.burgerBox span:after{
		content: '';
		top: 6px;
		transform: rotate(360deg);
		transition: 0.25s;
	}
}

@media only screen and (min-width: 768px){
	.nav li{
		display: inline;
		margin: auto;
	}
	.nav{
		position: fixed;
		top: 20px;
		right: 10px;
	}
	.nav ul li{
		background-color: var(--red);
		padding: 5px;
		border-radius: 5px;
		margin: 0px 5px;
	}
}